//- template.pug

mixin method_comments(label, items)
  li #{label}
  ul
    each item in items
      li= item

mixin comments(items)
  ul
    each item in items
      +method_comments(item[0], item[1])

tr
  td
    div(id=`case-${caseNumber}`)
      details
        summary Case #{caseNumber} - #{title}
        +comments(list)
        table( class="table table-bordered")
          tr
            td
              details
                summary Base
                pre
                  code(class="baseSource", style="display:none;") #{baseSource}
                  code(class="prettyprint linenums") #{baseSource}
            td
              details
                summary Left
                pre
                  code(class="leftSource", style="display:none;") #{leftSource}
                  code(class="prettyprint linenums") #{leftSource}
            td
              details
                summary Right
                pre
                  code(class="rightSource", style="display:none;") #{rightSource}
                  code(class="prettyprint linenums") #{rightSource}
            td
              details
                summary MergeMethods
                pre
                  code(class="mergeMethodsSource", style="display:none;") #{mergeMethodsSource}
                  code(class="prettyprint linenums") #{mergeMethodsSource}
            td
              details
                summary KeepBothMethods
                pre
                  code(class="keepBothMethodsSource", style="display:none;") #{keepBothMethodsSource}
                  code(class="prettyprint linenums") #{keepBothMethodsSource}
            td
              details
                summary Safe
                pre
                  code(class="safeSource", style="display:none;") #{safeSource}
                  code(class="prettyprint linenums") #{safeSource}
            td
              details
                summary Unstructured
                pre
                  code(class="unstructuredSource", style="display:none;") #{unstructuredSource}
                  code(class="prettyprint linenums") #{unstructuredSource}
          tr
            td
              select(class="left-diff")
                option(value="base") Base
                option(value="left") Left
                option(value="right") Right
                option(value="mergeMethods") MergeMethods
                option(value="keepBothMethods") KeepBothMethods
                option(value="safe") Safe
                option(value="unstructured") Unstructured
            td
              select(class="right-diff")
                option(value="base") Base
                option(value="left") Left
                option(value="right") Right
                option(value="mergeMethods") MergeMethods
                option(value="keepBothMethods") KeepBothMethods
                option(value="safe") Safe
                option(value="unstructured") Unstructured
            td
              button(onClick="drawDiff(this)") Diff
            td
              details
                summary Diff Result
                div(class="diff-result") No diff
