//- template.pug
p #{name}'s Pug source code!
details
  summary Case #{caseNumber} - #{id}
  p some observations
  p some more observations
  p result is
    b ok
  table
    tr
      td
        details
          summary Base
          pre(class="prettyprint")
            code #{baseSource}
      td
        details
          summary Left
          pre(class="prettyprint")
            code #{leftSource}
      td
        details
          summary Right
          pre(class="prettyprint")
            code #{rightSource}
      td
        details
          summary MergeMethods
          pre(class="prettyprint")
            code #{mergeMethodsSource}
      td
        details
          summary KeepBothMethods
          pre(class="prettyprint")
            code #{keepBothMethodsSource}
      td
        details
          summary Safe
          pre(class="prettyprint")
            code #{safeSource}
      td
        details
          summary Unstructured
          pre(class="prettyprint")
            code #{unstructuredSource}
