//- template.pug

mixin method_comments(label, items)
  li #{label}
  ul
    each item in items
      li= item

mixin comments(items)
  ul
    each item in items
      +method_comments(item[0], item[1])

tr
  td
    details
      summary Case #{caseNumber} - #{title}
      +comments(list)
      table( class="table table-bordered")
        tr
          td
            details
              summary Base
              pre(class="prettyprint linenums")
                code #{baseSource}
          td
            details
              summary Left
              pre(class="prettyprint linenums")
                code #{leftSource}
          td
            details
              summary Right
              pre(class="prettyprint linenums")
                code #{rightSource}
          td
            details
              summary MergeMethods
              pre(class="prettyprint linenums")
                code #{mergeMethodsSource}
          td
            details
              summary KeepBothMethods
              pre(class="prettyprint linenums")
                code #{keepBothMethodsSource}
          td
            details
              summary Safe
              pre(class="prettyprint linenums")
                code #{safeSource}
          td
            details
              summary Unstructured
              pre(class="prettyprint linenums")
                code #{unstructuredSource}
